/* You can add global styles to this file, and also import other style files */

@import "tailwindcss";
body {
  margin: 0;
  background: #000;
  color: white;
  font-family: Poppins, Arial, sans-serif;
}

/* container */
.container {
  width: 85%;
  margin: auto;
  padding-top: 50px;
}

/* NAVBAR */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 60px;
}

.navbar .logo {
  font-size: 27px;
  font-weight: 600;
}

.navbar .logo span {
  color: #4ade80;
}

.navbar ul {
  list-style: none;
  display: flex;
  gap: 18px;
}

.navbar ul li a {
  text-decoration: none;
  color: #ddd;
  font-size: 15px;
  transition: .3s;
}

.navbar ul li a:hover {
  color: #4ade80;
}

/* HERO SECTION */
.hero {
  margin-top: 70px;
}

.hero h1 {
  font-size: 45px;
  margin-bottom: 8px;
}

.hero h1 span {
  color: #4ade80;
}

.hero h3 {
  font-size: 22px;
  opacity: .85;
  margin-top: 0;
}

.hero p {
  width: 55%;
  line-height: 28px;
  opacity: .85;
  margin-top: 15px;
}

/* HERO BUTTONS */
.hero-btns {
  margin-top: 25px;
  display: flex;
  gap: 14px;
}

.btn {
  padding: 10px 22px;
  border-radius: 5px;
  text-decoration: none;
  font-size: 14px;
  font-weight: 500;
  transition: .3s;
}

.hire {
  background: #4ade80;
  color: #000;
}

.projects {
  border: 2px solid #4ade80;
  color: #4ade80;
}

.projects:hover {
  background: #4ade80;
  color:#000;
}

.divider {
  margin-top: 60px;
  opacity: .2;
}

.next-msg {
  opacity: .5;
  margin-top: 30px;
  text-align:center;
}
